.containerPrincipal {
  display: flex;
  flex-direction: row;
  margin: 15px 80px 0px 80px;
  padding: 10px 30px 10px 30px;
  border: solid black;
  background-color: rgb(204, 204, 204);
  height: 400px;
}

.subcontainerIzquierdo {
  width: 550px;
  height: 300px;

}

.subcontainerDerecho {
  background-image: url("../../img/comidas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  width: 30%;
}

.mincontainer {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.mincontainerSteps {
  display: flex;
  justify-content: center;
  height: 60px;
  flex-direction: row;
}

.input {
  width: 280px;
}

.name {
  display: block;
}

.enviar {
  margin-top: 20px;
}

.medidor {
  background-color: beige;
}

.checkBox {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 25px; 
  width: 100%;
  height: 100px; 
}
