.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar{
  margin-top: 15px;
}

.searchingContainer {
  display: flex;
margin-top: 130px;
}

.load {
  width: 80px;
}
