.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar {
  margin: 10px;
}

.searchingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}