.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 40%;
  background-color: bisque;
}

.link {
  color: black;
}

.link:hover {
  cursor: pointer;
}
